* {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

#display{
    display: block;
    text-align: center;
    font-size: 10em;
}

#minusBtn{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#minusBtn:hover{
    background-color: darkred;
}

#resetBtn{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#resetBtn:hover{
    background-color: darkgrey;
}

#plusBtn{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#plusBtn:hover{
    background-color: darkgreen;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

#backBtn{
    position: absolute;
    top: 20px;
    left: 20px;
}
